.container{
    margin:0 auto;
    width: 100%;
}
.experience-layout{

    background-color: #F9FAFB;
    
}
.text-head{
    color:black;
}
.experience-btn-tab{
    display:flex;
    justify-content: center;
    padding:30px;
}
.exp-text{
    display:flex;
    justify-content: center;
}
.exp-text p{
    color: black;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    padding-top:20px;
    padding-bottom: 20px;
}
.exp-btn{
color: black;
text-align: center;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 8px;
background: #E5E7EB;
border:#E5E7EB;

box-shadow: 0px 8px 5px 0px rgba(3, 7, 18, 0.20) inset;
padding: 10px; 
width:275px;
/* height: 220px; */
}
.exp-btn img{
    width:40px;
    height:40px;
}
button{
    display: flex;
    gap:10px;
}
.experience-text-tab{
    width: 1216px;
    height: 306px;
    border-radius: 10px;
    color: black;
    background:#F9FAFB ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    gap:100px;
    margin-bottom: 20px;
}
.text-lead{
    color: black;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding:20px;
}
.text-lead-tab{
    padding-top: 20px;
    text-align: justify;
}
.text-lead-tab h2{
    color:black;
    font-family: Open Sans;
   font-size: 20px;
   font-style: normal;
    font-weight: 700;
   line-height: normal;
}
.text-lead-tab h3{
    color: black;
    font-family: Open Sans;
   font-size: 20px;
   font-style: normal;
    font-weight: 400;
   line-height: normal;
   padding-top: 10px;
}
.text-lead-tab ul{
color: black;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 10px;
}
.flex-icon{
    display:flex;
    gap:0px;
}
.ihealth-icon{
    width:300px;
}
.kodecamp-icon{
    width:50px;
    height:50px;
    /* border-radius: 20px; */
}
.wedance-icon{
    width:50px;
    height:50px;
}
.exp-btn img{
    width: 50px;
}

/* mobile view */
@media only screen and (max-width:414px){
    .experience-text-tab{
        width: auto;
        height: auto;
    }

    }
