:root{
--primary-light:#F9FAFB;
--secondary-light: #FFF;
--primary-dark: #1F2937;
--secondary-dark: #030712;
}
.darkView{
  background-color: #1F2937;
  color:#FFF;
 }

.lightView{
  background-color:#F9FAFB; 
  color:#030712;
}
.drop-down{
  margin-top: 70px;
}

.menu-tab{
  display: none;
}

nav {
    position: relative;
   }

  .container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}
  .Navbar-text{
    width:14px;
  }
  .Nav-header{
   padding:20px;
   font-size: 50px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
 font-family: 'Roboto Serif', serif;

  }
  .Icon-name{
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
  }
 .box-tab{
  margin-top: 64px;
  height: 70px
 }
   nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: center;
    gap:30px;
  }
  
  .nav-tab a {
    text-decoration: none;
     color: #1F2937; 
    text-align: center;
     font-family: Open Sans;  
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    

  }
  .moon-icon{
    width:25px;
    height:25px;
    cursor: pointer;
  }
  .sun-icon{
    width:25px;
    height:25px;
    cursor: pointer;
  }
  .nav-details{
    margin-top: -40px;
    display: flex;
    justify-content: flex-end;
    gap:20px;
  }
  button{
    margin-bottom: 30px;
  }

  @media screen  and (max-width:414px){
    
    .Nav-header{
     font-size: 30px;
     
    }
    .Icon-name {
      padding-top: 20px;
  }
  .nav-details {
      margin-top: 30px;
      justify-content: flex-start;
      gap: 2px;
  } 
  
  .box-tab {
    padding: 5px;
    margin-top: -10px;
    height: 70px;
}
nav ul {
  list-style-type:none;
  padding: 0;
  display: none;
  gap: 10px
}

    .shade {
      position: absolute;
      top: 316px;
      left: 18874px;
      filter: blur(3px);
      background: rgba(196, 196, 196, 0.20);
  }
  .menu-tab{
    display: block;
  }
  .relative-tab{
    position: relative;
  }
  .absolute-tab{
    position: fixed;
    top:0px;
    z-index: 3000;
  }
  .burger{
    margin-top: -10px;
    font-size: 30px;
  }
}
