:root{
--primary-light:#F9FAFB;
--secondary-light: #FFF;
--primary-dark: #1F2937;
--secondary-dark: #030712;
}
.darkView{
  background-color:var(--primary-dark);
  color:var(--secondary-light);
 }

.lightView{
  background-color:var(--primary-light); 
  color:var(--secondary-dark);
}


nav {
    position: relative;
   }

  .container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}
  .Navbar-text{
    width:14px;
  }
  .Nav-header{
    width:10px;
    /* color: var(--primary-dark); */
    padding-top: 40px;
   font-family: Calluna;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
  }
 
   nav ul {
    list-style-type: none;
    margin-bottom: 40px;
    padding: 0;
    display: flex; 
    justify-content: center;
    gap:30px;
  }
  
  a {
    text-decoration: none;
    /* color: #1F2937; */
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .moon-icon{
    width:25px;
    height:25px;
    cursor: pointer;
  }
  .sun-icon{
    width:25px;
    height:25px;
    cursor: pointer;
  }
  .nav-details{
    display: flex;
    justify-content: flex-end;
    gap:20px;
  }
  button{
    margin-bottom: 30px;
  }