
.container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}
.About-page-holder{
    
     background-color: #F9F9F9;
    
}
.About-page-text{
    display: flex;
    gap:100px;
    
}
.About-image-tab{
    
    margin-bottom:70px;
    
    
}
.image-tab{
    position: relative;
}
.shade{
    position: absolute;
    top:816px;
    left:274px;
    filter: blur(3px); 
    background: rgba(196, 196, 196, 0.20); 
}
.btn-layer{
    display: flex;
    margin: auto;
    padding: 45px;
}
.about-btn{
    color:black;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background:   #F9FAFB;
    border-color:  #F9FAFB;
    box-shadow: 0px 8px 5px 0px  #F9FAFB inset;
    cursor: pointer;
    margin: auto;
}
.About-text-tab{
    text-align: justify;
    color: #111827;
    font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
    font-family: 'Cormorant Garamond', serif; 
  

  
}
.text-sets{
    display: flex;
    gap:4px;
}
.about-me{
    font-size: 34px;
    color: orange;
    margin-bottom: 20px;
    margin-top: 10px;
}

.star{
    width:25px;
    height:25px;
}
span{
    color: orange;
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* Tablet view */
@media only screen and (max-width:820px){

    .About-page-text {
        flex-direction: column;
        gap: 100px;
    }
    .shade-img{
        width:500px;
        height:500px;
        }
        .shade{  
            position: absolute;
            top: 816px;
            left: 294px;

        }
        .image-tab img{
            width: 80%;
           height: 500px;
         }
         .About-image-tab {
            margin-bottom: 70px;
            margin-left: 70px;
        }
        .About-text-tab {
            margin-top: -120px;
        }
        }

       
/* Mobile view */
@media only screen and (max-width:414px){
    .About-page-text{
        display: flex;
        flex-direction: column;
        gap:100px;
    }
    .About-page-holder {
        margin-top: 40px;
        background-color: #F9F9F9;
    }
        
 .shade {
         display: none;
         }
     
      .image-tab img {
        margin-left: -30px;
        width: 330px;
        height: auto;
    }
    .About-text-tab {
        margin-top: -145px;
        
    }
    .About-text-tab p{
       font-size: 20px;
        
    }
    .star {
        margin-top: 5px;
        width: 15px;
        height: 15px;
    }
    
    .about-me {
        font-size: 28px;
        color: orange;
        
    }
    .Header-text p {
        font-size: 20px;
       }
}
    
