
.container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
}
.About-page-holder{
    
     background-color: #F9F9F9;
    
}
.About-page-text{
    display: flex;
    gap:100px;
    
}
.About-image-tab{
    
    margin-bottom:70px;
    
    
}
.image-tab{
    position: relative;
}
.shade{
    position: absolute;
    top:816px;
    left:274px;
    filter: blur(3px); 
    background: rgba(196, 196, 196, 0.20); 
}
.btn-layer{
    display: flex;
    margin: auto;
    padding: 45px;
}
.about-btn{
    color:black;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background:   #F9FAFB;
    border-color:  #F9FAFB;
    box-shadow: 0px 8px 5px 0px  #F9FAFB inset;
    cursor: pointer;
    margin: auto;
}
.About-text-tab{
    text-align: justify;
    color: #111827;
    font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px;
  
}
.text-sets{
    display: flex;
    gap:4px;
}
.about-me{
    font-size: 34px;
    color: orange;
    margin-bottom: 20px;
    margin-top: 10px;
}

.star{
    width:25px;
    height:25px;
}
span{
    color: orange;
    font-weight: 600;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* Mobile view */
@media only screen and (max-width:414px){
    .About-page-text{
        display: flex;
        flex-direction: column;
        gap:100px;
        

   
        .shade {
          position: absolute;
          top: 1416px;
          left: 24px;
          filter: blur(3px);
          width:390px;
          background: rgba(196, 196, 196, 0.20);
      }
      .image-tab img{
        width:390px
      }
    }
    
}