
aside{
    display: flex;
    display: none;
}


@media screen and (max-width:420px)

{
    aside{
        padding: 20px;
        display: block;
        flex-direction: column;
        width:150%;
        height: 100vh;
        background-color: #1F2937;
        color: #FFFF; 
    }
    .icon-tabbs{
        font-size: 70px; 
        color: #FFFF;
   
    }
    .icons-tabbs2{
        font-size: 40px;
        color: #FFFF;
        background-color: #1F2937 !important;
        border: none;
        
    }
    aside ul{
        display: flex;
        flex-direction: column;
        gap:30px;
        color: #FFFF;
        text-decoration: none;
        list-style: none;
    }
    .react-icon-tab{
        display: flex;
        justify-content: space-between;
    }
    .list-tab a{
        font-size: 34px;
        color: #FFFF;
    }
}