
.skills-set-tab{
background-color: #ffff;
}

.skills-btn{
 display: flex;
 justify-content: center;
  padding:30px; 
}
.skills-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    
}
.skills-tab img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}
.skills-tab h3{
    color: #1F2937;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap:10px;
    margin-bottom: 80px;
   
}
.btn-tab{
    color:black;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background:   #F9FAFB;
    border-color:  #F9FAFB;
    box-shadow: 0px 8px 5px 0px  #F9FAFB inset;
    cursor: pointer;
    margin: auto;
   
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.text-alignment{
    margin:auto;
}
.text-align{
    margin-left:25px;
}
.text-tab{
    margin-left: 10px;
}

@media screen  and (max-width:820px){
    .skills-tab{
      flex-wrap: wrap;
        
        gap:60px;
        
    }
}
@media screen  and (max-width:414px){
    .skills-tab{
        gap:20px; 
    }
}