
.skills-set-tab{

    background-color: #030712;
}
.skills-btn{
 display: flex;
 justify-content: center;
 padding:60px;
}
.skills-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    
}
.skills-tab img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
}
.skills-tab h3{
    color: #FFF;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    gap:10px;
    margin-bottom: 80px;
    /* width: 54px;
    height:27px; */
}
.btn-tab{
    border-radius: 8px;
    background: #1F2937;
    box-shadow: 0px 8px 5px 0px rgba(3, 7, 18, 0.20) inset;
    width: 180px;
    padding: 10px;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
   
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.text-alignment{
    margin:auto;
}
.text-align{
    margin-left:25px;
}
.text-tab{
    margin-left: 10px;
}