.footer{
    background-color: #fff;
}
.nav-tab-tab{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
.Icon-footer{
    text-align: center;
    
}
.icon-tabss{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align:center ;
    
}
.Nav-headers {
     font-size: 27px;
     padding-top:10px;
}