
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .container{
    margin:0 auto;
    width: 90%;
    max-width: 1216px;
} 

.hero-page-holder{
 /* background-color:#030712; */
 background-color: #FFF; 
    
}
.hero-page{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap:70px;
}

.Header-text-icon{
    display:flex;
    gap:10px;
    /* margin-top:10px; */
}
.Header-text-icon-layer{
    display:flex;
    gap:8px;
    margin-top:15px;
}
.Header-text-icon-layer p{
    color: #030712;
    text-align: center;
    font-family: Open Sans;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.Hero-image{
    margin-top: 65px;
    margin-bottom: 50px;
    width: 417px;
    height: 417px;
    border-radius: 40px;
    border-color: #F9FAFB;
}
.Header-text-icon h2{
    margin-top: 70px;
    color: #030712;
    text-align: center;
    font-family: Open Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    

}

.Header-text p{
    margin-top: 10px;
    color: #030712;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    width:713px;
    height:132px;
    
    
}

.emoji-icon{
    margin-top: 70px;
    width:70px;
    height:70px;
}
.Hire-btn{
    
    color: black;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background:  #F9FAFB;
    border-color: #F9FAFB;
    box-shadow: 0px 8px 5px 0px #F9FAFB inset;
    cursor: pointer;
    
}
.Hire-btn2{
    
    color:#F9FAFB;
    padding: 10px;
    text-align: center;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background:   #F9FAFB;
    border-color:  #F9FAFB;
    box-shadow: 0px 8px 5px 0px  #F9FAFB inset;
    cursor: pointer;
    
}


.icon-tab{
    margin-top: 20px;
    display: flex;
    border-radius:20px;
    width: 10px;
    height: 10px;
    gap:10px;
    cursor:pointer;
}
.github{
    width:40px;
}
.twitter-icon{
    width:40px;
}
.linkedin-icon{
    width:40px;
}

/* Tablet view */
@media only screen and (max-width:820px){

    .Header-text p {
        margin-top: 10px;
        padding:10px;
        font-size: 24px;
        width: 400px;
        height: auto;
    }
    .Header-text-icon h2 {
        font-size: 35px;
    }
    .emoji-icon {
        margin-top: 60px;
        width: 50px;
        height: 50px;
    }
    .hero-img{
        width:320px;
    }
    .hero-page {
      gap: 40px;
    }


}



/*Mobile view  */
@media only screen and (max-width:414px){
    .hero-page{
        display: flex;
        flex-direction:column-reverse;
        gap:70px;
        width: 100%;
    }
    .hero-img{
        width:350px;
        margin-top: -30px;
    }
    .Header-text p{
        width: auto;
        height: auto;
    }
    .Header-text-icon h2{
       
        font-size: 30px;
    }
    .emoji-icon {
       
        width: 40px;
        height: 40px;
    }
    .Header-text-icon-layer {
        display: flex;
        gap: 8px;
         margin-top: 2px;
    }
.Hire-btn {
    margin-top: 15px;
    margin-bottom: 10px;
}

    .Header-text-icon {
        display: flex;
        gap: 10px;
        margin-top: -180px;
    }
    .Hero-image{
        width: auto;
        height: auto;
    }



}